# Diadem built-in
DIADEM_PORT=3900

# Dragonite database (read access only needed)
DRAGONITE_DB_HOST=127.0.0.1
DRAGONITE_DB_PORT=3306
DRAGONITE_DB_NAME=dragonite
DRAGONITE_DB_USER=
DRAGONITE_DB_PASSWORD=
