node_modules
.idea
.zed
.vite/*

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.pnpm-store

# Docker
docker-compose.yml

# Local dev config (contains secrets, not for production)
config/config.dev.toml
